[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyspark = "*"
pep8 = "*"
requests = "*"
jupyterlab = "*"
black = {extras = ["jupyter"], version = "*"}
jupyter-black = "*"
pycodestyle = "*"
pycodestyle-magic = "*"
flake8 = "*"
pyarrow = "*"
numpy = "==1.26.4"

[dev-packages]

[requires]
python_version = "3.9"
