[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
numpy = "*"
pep8 = "*"
requests = "*"
jupyterlab = "*"
black = {extras = ["jupyter"], version = "*"}
jupyter-black = "*"
pycodestyle = "*"
pycodestyle-magic = "*"
flake8 = "*"
psycopg2 = "*"
python-binance = "*"
pipenv = "*"
shell = "*"
pandas = "*"
python-dotenv = "*"
minio = "*"

[dev-packages]

[requires]
python_version = "3.9"
